*{
    scroll-behavior: smooth;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.1px;
    word-spacing: 0.6px;
}
body{
    background-color: rgb(253, 203, 251);
    max-height: 100vh;
}
a{
    text-decoration: none;
}